//Styles
@import "../../themes/index.scss";

.header {
    height: 10vh;
    background-color: $primaryBlue;
    padding-left: 10vw;

    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 150px));
    align-items: center;
    justify-content: flex-start;

    font-size: 4vmin;

    .img {
        height: 7vh;
        background-size: cover;

        justify-self: self-start;

        transform: translateY(-5px);
        transition: 500ms;
        animation-timing-function: ease-in-out;

        &:hover {
            transform: rotate(-5deg) scale(1.3);
            transition: 200ms;
            animation-timing-function: ease-in-out;
        }
    }
    .HeaderItem {
        text-decoration: none;
        color: white;
        &:hover {
            color: gray;
        }
        &:active {
            transform: translateY(-2px);
        }
    }
}

.activeItem {
    // text-decoration: none;
    border-bottom: 1px solid orange;
    color: antiquewhite;
}
