.Post {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    min-height: 100vh;

    border: 1px solid black;
    background-color: white;

    color: black;

    text-align: center;
    .Author {
        text-align: end;
        font-size: 0.8rem;
    }
    .body {
        font-size: 2vmin;
        text-align: justify;
    }
}
